@import "/static/styles/fonts.scss";
@import "/static/styles/normalize.scss";
@import "/static/styles/animation.scss"; 

body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  min-height: 100vh;
  min-width: 320px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

input {
  margin: 0;
  border: none;
  border-radius: 2rem;
  background-color: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  overflow: auto;
  background-color: #f1f1f1;
}

::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #777777;
  border-radius: 1em;
}

::selection {
  color: #ffffff;
  background: #7a3a77;
}